<header>
    <nav class="navbar navbar-light bg-warning fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="offcanvas offcanvas-end"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        Offcanvas
                    </h5>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="dropdownId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >Dropdown</a
                            >
                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownId"
                            >
                                <a class="dropdown-item" href="#"
                                    >Action 1</a
                                >
                                <a class="dropdown-item" href="#"
                                    >Action 2</a
                                >
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center bg-image" 
    style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); 
    height: 100vh; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
              <div class="text-white">
                <h1 style="font-size: 240px;">Heading</h1>
                <h4 class="mb-3">Subheading</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
              </div>
            </div>
        </div>
    </div>
</header>
<section class="container my-5">
    <div class="row">
        <div class="col-8 m-6">
            <h1>Hello How are you</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ipsa sequi? Atque, odio. Eveniet, eligendi. Consequuntur sapiente ipsam doloremque fuga cum debitis quisquam laborum magni eligendi aperiam, quasi rem eum distinctio repellat!</p>
        </div>
        <!-- <div class="col-4">
            <img
                src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
                class="img-fluid rounded-top"
                alt=""

                style="width: fit-content; "
            />
            
        </div> -->
    </div>
</section>
<section style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); 
height: 100vh; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
<div class="container">
    <section class="container ">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        Accordion Item #1
                    </button>
                </h2>
                <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        This is the first item's accordion body.
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>
    <section class="container">
        <div class="container">
            <form>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        name=""
                        id=""
                        aria-describedby="emailHelpId"
                        placeholder="abc@mail.com"
                    />
                    <small id="emailHelpId" class="form-text text-muted"
                        >Help text</small
                    >
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name=""
                        id=""
                        placeholder=""
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Submit
                </button>
                
                
                
            </form>
        </div>
        
    </section>
</div>
</section>