<!-- <div class=""> -->
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="background-image: url('../../../assets/img/hero-bac-1.jpg');">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1" style="color: white;">Enjoy A Relaxing Winter At Goa</h1>
        <p style="color: white;" class="lead">This Christmas Book an Amazing Trip to Goa For Yourself and Your Family</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          
          <a href="/book">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Book Now</button>
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://images.unsplash.com/photo-1703028408833-ff4033ce37ab?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="720">
      </div>
    </div>
  <!-- </div> -->