<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HEY there</h1>
    <% for (var i = 0; i<x.length; i++) { %>
        <h1><%=x[i].title %></h1>
        <h6><%=x[i].id %></h6>
        <p><%=x[i].contents %></p>
    <%}%>
</body>
</html>