<div style="background-image: url('../../../assets/img/hero-bac-1.jpg'); height: 100vh;">
    <div class="container" style="padding-top: 20px;">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header" style="background-color: blueviolet; color: white;">
                  <h4 class="my-0 font-weight-normal">Platinum</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Rs 15000 <small class="text-muted">/ person</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Airport lounge access</li>
                    <li>Private transfers</li>
                    <li>Luxury accommodation</li>
                    <li>Gourmet meals</li>
                    <li>All-inclusive drinks</li>
                    <li>Activities and excursions</li>
                  </ul>
                <a href="/book"><button type="button" class="btn btn-lg btn-block btn-primary" style="background-color: blueviolet;">Book Now</button></a>
                <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Book Now</button> -->
                </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header" style="background-color: gold;">
                <h4 class="my-0 font-weight-normal">Gold</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Rs 10000<small class="text-muted">/ person</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Airport lounge access</li>
                    <li>Shared transfers</li>
                    <li>Comfortable accommodation</li>
                    <li>Delicious meals</li>
                    <li>Some included drinks</li>
                    <li>Some activities and excursions</li>
                </ul>
                <a href="/book"><button type="button" class="btn btn-lg btn-block btn-primary" style="background-color: gold; color: black;">Book Now</button></a>
                <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Book Now</button> -->
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header" style="background-color: silver;">
                <h4 class="my-0 font-weight-normal">Silver</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Rs 5000<small class="text-muted">/ person</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Standard airport transfers</li>
                    <li>Shared accommodation</li>
                    <li>Basic meals</li>
                    <li>Limited drinks</li>
                    <li>Some activities</li>
                </ul>
                <a href="/book"><button type="button" class="btn btn-lg btn-block btn-primary" style="background-color: silver; color: black;">Book Now</button></a>
              </div>
            </div>
          </div>
    </div>
</div>